<br> <br><h1>PAGE DES UTILISATEURS </h1>

<br>

<p> 
Voici la page d'<%= @user.first_name %><br/>
Son nom : <%= @user.last_name %> <br/>
Sa description : <%= @user.description %> <br/>
Son e-mail : <%= @user.email %> <br/>
Son age : <%= @user.age %> <br/>
Le nom de sa ville : <%= @user.city %> <br/> 
</p>

